[Unit]
Description=Charm Assistant API Server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
# TODO set the correct juju path here
WorkingDirectory={{ charm_dir }}
Environment="PYTHONPATH={{ charm_dir }}/venv"
ExecStart=/usr/bin/python3 {{ charm_dir }}/src/server.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
